[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unittest2 = "*"
pycryptodome = "*"
pycryptodome-test-vectors = "*"
pycryptodomex = "*"

[dev-packages]
cryptography = "*"

[requires]
python_version = "3.10"
